<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>veeti.photos - $title$</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body>
        <header>
            <a href="/">veeti.photos</a>
            <nav>
                <a href="/blog/">Blog</a>
                <a href="/gallery/">Gallery</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            <a href="mailto:email@veeti.photos">email@veeti.photos</a>
        </footer>
        <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    </body>

</html>